header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-inline: calc(min(1.5rem, 0.04*var(--vw)) - 0.5rem);
}
header:not(:has(#device-dropdown)) h1 {
    padding-right: 3rem;
}
h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}