/* BUTTONS */

button, input[type="button"], input[type="submit"] {
    display: block;
    cursor: pointer;
}
.standard-button {
    width: fit-content;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-gray-3);
    color: var(--color-gray-0);
    transition: scale 200ms ease-in-out;
}
.standard-button:hover, .standard-button:focus-visible {
    scale: 1.025;
}
.standard-button.button-disabled {
    background: var(--color-gray-4);
    color: var(--color-gray-5);
    cursor: default;
    pointer-events: none;
}
.icon-button {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}



/* INPUT TEXT */

input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    padding: calc(0.75rem - 2px);
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    background: var(--color-gray-5);
    color: var(--color-gray-0);
    border: 2px solid var(--color-gray-3);
}
.input-invalid input[type="text"] {
    border: 2px solid var(--color-heat-2);
}

/* FORM ELEMENTS */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}
label, .label {
    font-size: 0.875rem;
    color: var(--color-gray-3);
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-error {
    min-height: 1rem;
    color: var(--color-heat-2);
}



/* SPECIFIC FORM ELEMENTS */

#enter-url-page form, #enter-url-page #enter-url-explain {
    max-width: 20rem;
}
#enter-url-page #enter-url-explain {
    line-height: 1.25;
}



/* RADIO SELECT BUTTONS/LIST (FOR CONTROL TILE MODALS AND SETTINGS) */

ul.radio-select-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.radio-select-list li, .radio-buttons li {
    display: block;
}
.radio-select-list button {
    width: 100%;
    background: var(--color-gray-4);
}
.radio-select-list li.radio-selected button {
    background: var(--color-gray-3);
    color: var(--color-gray-0);
}
ul.button-select {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
ul.button-select li {
    display: block;
}
.drawer-content hr {
    height: 1rem;
}

ul.radio-buttons {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    background: var(--color-gray-4);
}
.radio-buttons button {
    width: fit-content;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-gray-2);
}
.radio-buttons li.radio-selected button {
    background: var(--color-gray-3);
    color: var(--color-gray-0);
}