/* BUTTONS */

button, input[type="button"], input[type="submit"] {
    display: block;
    cursor: pointer;
}
.standard-button {
    width: fit-content;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-gray-3);
    color: var(--color-gray-0);
    transition: scale 200ms ease-in-out;
}
.standard-button:hover, .standard-button:focus-visible {
    scale: 1.025;
}
.standard-button.button-disabled {
    background: var(--color-gray-4);
    color: var(--color-gray-5);
    cursor: default;
    pointer-events: none;
}
.icon-button {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}



/* INPUT TEXT */

input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    padding: calc(0.75rem - 2px);
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    background: var(--color-gray-5);
    color: var(--color-gray-0);
    border: 2px solid var(--color-gray-3);
}
.input-invalid input[type="text"] {
    border: 2px solid var(--color-heat-2);
}
input::placeholder {
    color: var(--color-gray-3);
}

/* FORM ELEMENTS */

form, .input-controls-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form {
    gap: 1.5rem;
}
.input-controls-container {
    gap: 0.75rem;
}
label, .label {
    font-size: 0.875rem;
    color: var(--color-gray-3);
}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-error {
    min-height: 1rem;
    color: var(--color-heat-2);
}



/* RADIO SELECT BUTTONS/LIST (FOR CONTROL TILE MODALS AND SETTINGS) */

ul.radio-select-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.radio-select-list li, .radio-buttons li {
    display: block;
}
.radio-select-list button {
    width: 100%;
    background: var(--color-gray-4);
}
.radio-select-list li.radio-selected button {
    background: var(--color-gray-3);
    color: var(--color-gray-0);
}
ul.button-select {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
ul.button-select li {
    display: block;
}
.drawer-content hr {
    height: 1rem;
}

ul.radio-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    border-radius: 1rem;
    background: var(--color-gray-4);
    position: relative;
}
.radio-buttons li {
    display: block;
    z-index: 5;
}
.radio-buttons button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-gray-2);
    transition: color 200ms ease-in-out;
}
ul.radio-buttons::before {
    content: "";
    display: block;
    width: calc(100%/var(--radio-options-count));
    position: absolute;
    left: calc(var(--radio-selected-index)*(100%/var(--radio-options-count)));
    z-index: 1;
    height: 3rem;
    border-radius: 1rem;
    background: var(--color-gray-3);
    transition: left 200ms ease-in-out;
}
.radio-buttons li.radio-selected button {
    color: var(--color-gray-0);
}