@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
#loading-container {
    height: calc(100vh - 4rem);
}
.loading-icon {
    font-size: min(40vw, 40vh, 20rem);
    animation: spin 4s linear infinite normal forwards;
    font-variation-settings: "FILL" 0,
                             "wght" 200,
                             "GRAD" 0,
                             "opsz" 24;
}