@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
#loading-container {
    height: calc(var(--vh) - 4rem);
}
.loading-icon {
    display: block;
    width: min(0.4*var(--vw), 0.4*var(--vh), 20rem);
    aspect-ratio: 1;
    fill: var(--color-gray-1);
    animation: spin 4s linear infinite normal forwards;
}