dialog.modal-popup[open] {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: min(80vw, 32rem);
    padding: 2rem;
    border-radius: 1rem;
    background: var(--color-gray-4);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog.modal-popup::backdrop {
    background: var(--color-heat-5);
    opacity: 0.5;
}
dialog.modal-popup button {
    padding: 0.75rem 1rem;
    background: var(--color-gray-2);
    color: var(--color-gray-6);
    width: fit-content;
    border-radius: 0.5rem;
}