/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;

    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    inset: unset;
    inset-inline: unset;
    inset-block: unset;
    inset-inline-start: unset;
    inset-inline-end: unset;
    inset-block-start: unset;
    inset-block-end: unset;

    max-width: none;
    max-height: none;

    font-weight: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    word-spacing: normal;
    text-wrap-style: pretty;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    font-family: inherit;
    list-style: none;

    background: none;
    border: none;
    outline: none;
    color: inherit;
    border-radius: 0;
}



/* FONTS */

:root {
    font-family: "Outfit", sans-serif;
    font-variation-settings: "wght" 400;
}
.material-symbols {
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "FILL" 0,
                             "wght" 250,
                             "GRAD" 0,
                             "opsz" 24;
    font-size: 1rem;
    display: block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    aspect-ratio: 1;
    -webkit-user-select: none;
    user-select: none;
}
.material-symbols-rounded {
    font-family: "Material Symbols Rounded", "Outfit", sans-serif;
}



/* GLOBAL COLOR AND SIZE VARIABLES */

:root {
    /* This is entire vh and vw, not 1/100th */
    --vh: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
    --vw: calc(100vw - var(--safe-area-inset-left) - var(--safe-area-inset-right));

    --dial-size: min(0.92*var(--vw), clamp(20rem, var(--vh) - 27.75rem - 2px, 32rem));


    --color-gray-000: #f0e9e6;
    --color-gray-200: #c4b8b4;
    --color-gray-400: #827a78;
    --color-gray-500: #615b59;
    --color-gray-600: #4c4846;
    --color-gray-700: #3e3a39;
    --color-gray-800: #292626;
    --color-gray-900: #1b1919;

    --color-heat-200: #eda979;
    --color-heat-400: #b86040;
    --color-heat-600: #693325;
    --color-heat-700: #542417;

    --color-cool-200: #72abe0;
    --color-cool-400: #346099;
    --color-cool-600: #213861;
    --color-cool-700: #1d2a4a;

    --overlay-shade: #00000099;
    --overlay-error-shade: #b8604099;
}

.color-theme-light {
    --color-gray-000: #363231;
    --color-gray-200: #696260;
    --color-gray-400: #a19794;
    --color-gray-500: #bdb2ae;
    --color-gray-600: #d4c7c3;
    --color-gray-700: #ebe0dd;
    --color-gray-800: #f7eeeb;
    --color-gray-900: #fff8f5;

    --color-heat-200: #ad5031;
    --color-heat-400: #de8552;
    --color-heat-600: #ebb18a;
    --color-heat-700: #f7ceb0;

    --color-cool-200: #144c96;
    --color-cool-400: #4e8ac7;
    --color-cool-600: #8fb6d9;
    --color-cool-700: #c0daf0;
    
    --overlay-shade: #00000055;
    --overlay-error-shade: #de855299;
}



/* GENERAL/PAGE STYLING  */

body {
    background: var(--color-gray-900);
    position: relative;
    color: var(--color-gray-200);
    padding: calc(var(--safe-area-inset-top)) calc(var(--safe-area-inset-right))
             calc(var(--safe-area-inset-bottom)) calc(var(--safe-area-inset-left));
}
/* status and nav bar colors */
body::before, body::after {
    content: "";
    display: block;
    width: var(--vw);
    position: fixed;
    z-index: 999;
}
body::before {
    top: 0;
    height: var(--safe-area-inset-top);
}
body::after {
    bottom: 0;
    height: var(--safe-area-inset-bottom);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem min(1.5rem, 0.04*var(--vw));
}
.centered-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh) - 6rem);
}
h1, h2, h3, h4, h5, h6 {
    display: block;
}
.icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.icon-title h1 {
    font-size: 2rem;
}
.icon-title img {
    height: 3.5rem;
    width: 3.5rem;
    background: var(--color-gray-000);
    border-radius: 25%;
}
::selection {
    background: #f4f3f344;
    opacity: 0.5;
}
*:focus-visible {
    outline: 2px solid var(--color-gray-000);
    outline-offset: 3px;
    border-radius: 8px;
}



/* OTHER */

/* Icons with text labels */
.icon-text-group, .standard-button.icon-text-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.icon-text-group span {
    display: block;
    line-height: 1.5;
}
.icon-text-group span.material-symbols {
    font-size: 1.5rem;
    line-height: 1;
    height: 1.5rem;
}

/* Text ellipses */
.text-ellipses {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Rotating fan icons */
.fan-icon {
    position: relative;
}
.fan-icon.fan-on {
    animation: spin 4s linear infinite normal forwards;
}