/* TEMP TILES STUFF - WILL CHANGE A LOT AFTER ADDING MODALS */
section#info {
    display: grid;
    width: var(--dial-size);
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.tile {
    background: var(--color-gray-5);
    padding: 1rem;
    border-radius: 1rem;
    transition: scale 200ms ease-in-out;
}
.tile:hover, .tile:focus-visible {
    scale: 1.05;
}
.tile h2, .drawer-content h2 {
    font-variation-settings: "wght" 100;
}
.tile legend, .tile > h2, .drawer-content h2 {
    margin-bottom: 0.5rem;
}
.current-tile-selection {
    display: flex;
    gap: 0.5rem;
    height: 1.5rem;
}
.current-tile-selection span {
    display: block;
    line-height: 1.5;
}
.current-tile-selection span.material-symbols {
    font-size: 1.5rem;
    width: 1.5rem;
    line-height: 1;
}

.radio-select ul {
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
}
.radio-select li {
    display: flex;
    gap: 0.5rem;
}
.radio-select label {
    display: flex;
    gap: 0.5rem;
}
.radio-select label span {
    display: block;
    line-height: 1.5;
}
.radio-select label span.material-symbols {
    font-size: 1.5rem;
    width: 1.5rem;
    line-height: 1;
}
.radio-select input {
    height: 1.5rem;
}

hr {
    height: 1rem;
}
ul.button-select {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
ul.button-select li button {
    background: var(--color-gray-2);
    color: var(--color-gray-6);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    flex: 0 0 min-content;
}
ul.button-select li.button-option-disabled button {
    background: var(--color-gray-3);
    color: var(--color-gray-5);
    cursor: default;
    pointer-events: none;
}