/* TILES */
#tiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#tiles hr {
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background: var(--color-gray-3);
}
.tiles-group {
    display: grid;
    width: var(--dial-size);
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.tile {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    min-width: 0;
    background: var(--color-gray-5);
    padding: 1rem;
    border-radius: 1rem;
    transition: scale 200ms ease-in-out;
}
.tile h2, .drawer-content h2 {
    font-variation-settings: "wght" 100;
}
.tile legend, .tile > h2, .drawer-content h2 {
    padding-bottom: 0.25rem;
}
/* clickable tiles only */
#control-tiles button.tile:hover, #control-tiles button.tile:focus-visible {
    scale: 1.05;
}
#control-tiles :first-child {
    grid-column: span 2;
}