::view-transition-old(root) {
    animation: fade-out 1s ease-out;
}

::view-transition-new(root) {
    animation: fade-in 1s ease-in;
}

@keyframes fade-out {
    to { 
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fade-in {
    from { 
        opacity: 0;
        transform: scale(1.1);
    }
}
/* @view-transition {
    navigation: auto;
} */