@keyframes view-settings-out {
    to {
        transform: translate(-100vw);
    }
}
@keyframes view-settings-in {
    from {
        transform: translate(-100vw);
    }
}
@keyframes view-thermostat-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes view-thermostat-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
html:has(* #settings-page)::view-transition-old(root) {
    animation: view-thermostat-out 800ms ease-in-out;
    z-index: 1;
}
html:has(* #settings-page)::view-transition-new(root) {
    animation: view-settings-in 800ms ease-in-out;
    z-index: 2;
}
html:has(* #thermostat-page)::view-transition-old(root) {
    animation: view-settings-out 800ms ease-in-out;
    z-index: 2;
}
html:has(* #thermostat-page)::view-transition-new(root) {
    animation: view-thermostat-in 800ms ease-in-out;
    z-index: 1;
}