/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;

    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    font-weight: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    word-spacing: normal;
    text-wrap-style: pretty;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    font-family: inherit;
    list-style: none;

    background: none;
    border: none;
    outline: none;
    color: inherit;
    border-radius: 0;
}

button {
    cursor: pointer;
}

/* TEMPORARY STUFF */
section#info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

:root {
    --dial-size: min(100vh - 10rem, 92vw, 32rem);
    /* --dial-size: min(32rem); */
    --color-gray-0: #f4f3f3;
    --color-gray-1: #c4b8b4;
    --color-gray-2: #736c6a;
    --color-gray-3: #4c4846;
    --color-gray-4: #3e3a39;
    --color-gray-5: #1b1919;
    --color-heat-0: #eecbb2;
    --color-heat-1: #e5ab81;
    --color-heat-2: #bd7957;
    --color-heat-3: #a15a40;
    --color-heat-4: #69342b;
    --color-heat-5: #542822;
    --color-cool-0: #b4d8e5;
    --color-cool-1: #71a6c7;
    --color-cool-2: #537296;
    --color-cool-3: #3e5978;
    --color-cool-4: #283557;
    --color-cool-5: #1c263f;

    --main-bg: var(--color-gray-5);
    --main-text: var(--color-gray-1);

    background: var(--main-bg);
    color: var(--main-text);
    font-family: "Outfit", system-ui, sans-serif;
    font-variation-settings: "wght" 300;
}



/* GENERAL  */
body * {
    font-variation-settings: "wght" 300;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0,
                           "wght" 600,
                           "GRAD" 0,
                           "opsz" 24;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 4vw;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
}
h1 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.25;
}
h2#offline-message {
    font-size: calc(0.1*var(--dial-size));
}



/* MAIN DIAL */
#dial {
    --dial-bg: var(--color-gray-4);
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: var(--dial-size);
    height: var(--dial-size);
    border-radius: 50%;
    background: var(--dial-bg);
    position: relative;
}
#dial.hvac-status-cooling  {
    --dial-bg: var(--color-cool-5);
}
#dial.hvac-status-heating  {
    --dial-bg: var(--color-heat-5);
}
#dial > * {
    position: absolute;
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
}



/* CENTER MAIN NUMBERS */
#main-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(0.05*var(--dial-size));
    position: relative;
    top: calc(-0.02*var(--dial-size));
}
.main-number-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main-numbers-setpoints {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(0.075*var(--dial-size));
}
#main-numbers h2, #main-numbers h3 {
    text-align: center;
    transition: font-variation-settings 400ms ease-in-out, color 400ms ease-in-out;
}
#main-numbers h2 {
    font-size: calc(0.05*var(--dial-size));
    font-variation-settings: "wght" 100;
}
#main-numbers h3 {
    font-size: calc(0.125*var(--dial-size));
    font-variation-settings: "wght" 300;
}
#main-numbers #main-numbers-ambient h3 {
    font-size: calc(0.2*var(--dial-size));
}
#main-numbers-heatpoint.setpoint-active {
    color: var(--color-heat-1);
}
#main-numbers-coolpoint.setpoint-active {
    color: var(--color-cool-1);
}
#main-numbers .setpoint-active h2 {
    font-variation-settings: "wght" 400;
}
#main-numbers .setpoint-active h3 {
    font-variation-settings: "wght" 600;
}



/* DIAL TRACK AND RANGES */
@property --start-range {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}
@property --end-range {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}
@property --thumb-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}
#dial .dial-track {
    --start-dial: calc(-1*var(--used-dial-ratio)/2);
    --start-range: calc(var(--start-thumb) - var(--start-dial));
    --end-range: calc(var(--end-thumb) - var(--start-dial));
    --track-bg: var(--color-gray-3);
    --track-range-bg: var(--color-gray-2);
    width: calc(0.84*var(--dial-size));
    height: calc(0.84*var(--dial-size));
    border-radius: 50%;
    margin: calc(0.08*var(--dial-size));
    position: relative;
    background: conic-gradient(from var(--start-dial), transparent var(--start-range), var(--track-range-bg) var(--start-range), var(--track-range-bg) var(--end-range), transparent var(--end-range)),
                conic-gradient(from var(--start-dial), var(--track-bg) var(--used-dial-ratio), transparent var(--used-dial-ratio));
    transition: --start-range 400ms ease-in-out, --end-range 400ms ease-in-out;
    z-index: 3;
}
#dial.hvac-status-cooling .dial-track {
    --track-bg: var(--color-cool-4);
    --track-range-bg: var(--color-cool-3);
}
#dial.hvac-status-heating .dial-track {
    --track-bg: var(--color-heat-4);
    --track-range-bg: var(--color-heat-3);
}
#dial .track-cover {
    content: "";
    display: block;
    background: var(--dial-bg);
    width: calc(0.78*var(--dial-size));
    height: calc(0.78*var(--dial-size));
    margin: calc(0.03*var(--dial-size));
    border-radius: 50%;
    z-index: 5;
}
#dial .track-cap {
    /* angle arm */
    --cap-bg-out-range: var(--color-gray-3);
    --cap-bg-in-range: var(--color-gray-2);
    width: calc(0.03*var(--dial-size));
    height: calc(0.81*var(--dial-size));
    rotate: var(--cap-angle);
    z-index: 1;
}
#dial .track-cap::before {
    /* displayed cap */
    content: "";
    display: block;
    width: calc(0.03*var(--dial-size));
    height: calc(0.03*var(--dial-size));
    border-radius: 50%;
    background: var(--cap-bg);
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

#dial.hvac-status-cooling .track-cap {
    --cap-bg-out-range: var(--color-cool-4);
    --cap-bg-in-range: var(--color-cool-3);
}
#dial.hvac-status-heating .track-cap {
    --cap-bg-out-range: var(--color-heat-4);
    --cap-bg-in-range: var(--color-heat-3);
}


/* DIAL THUMBS */
/* .dial-thumb-container {
    width: calc(0.03*var(--dial-size));
    height: calc(0.81*var(--dial-size));
    position: relative;
    rotate: var(--thumb-angle);
    transition: --thumb-angle 400ms ease-in-out;
}
.dial-thumb {
    width: calc(0.03*var(--dial-size));
    height: calc(0.03*var(--dial-size));
    border-radius: 50%;
    background: var(--color-gray-1);
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.dial-thumb-hidden {
    display: none;
}
#coolpoint-thumb-container .dial-thumb {
    background: var(--color-cool-1);
}
#heatpoint-thumb-container .dial-thumb {
    background: var(--color-heat-1);
} */
.dial-thumb {
    /* thumb arm */
    width: calc(0.03*var(--dial-size));
    height: calc(0.81*var(--dial-size));
    rotate: var(--thumb-angle);
    transition: --thumb-angle 400ms ease-in-out;
}
.dial-thumb::before {
    /* displayed thumb */
    content: "";
    display: block;
    width: calc(0.03*var(--dial-size));
    height: calc(0.03*var(--dial-size));
    border-radius: 50%;
    background: var(--color-gray-1);
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.dial-thumb.dial-thumb-clickable::after {
    /* clickable area? */
    content: "";
    display: block;
    width: calc(0.1*var(--dial-size));
    height: calc(0.1*var(--dial-size));
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#coolpoint-thumb.dial-thumb::before {
    background: var(--color-cool-1);
}
#heatpoint-thumb.dial-thumb::before {
    background: var(--color-heat-1);
}


/* BOTTOM BUTTONS/STATUS */
.bottom-icon {
    position: relative;
    bottom: calc(0.08*var(--dial-size));
}
.dial-buttons {
    display: flex;
    gap: calc(0.02*var(--dial-size));
    margin-inline: auto;
    position: relative;
    bottom: calc(0.06*var(--dial-size));
}
.dial-buttons button {
    text-align: center;
    font-size: calc(0.06*var(--dial-size));
    width: calc(0.12*var(--dial-size));
    height: calc(0.12*var(--dial-size));
    border-radius: calc(0.03*var(--dial-size));
    cursor: pointer;
}
.dial-buttons button:focus-visible, .dial-buttons button:hover {
    --button-bg: var(--color-gray-3);
    background: var(--button-bg);
}
#dial.hvac-status-cooling .dial-buttons button:focus-visible, #dial.hvac-status-cooling .dial-buttons button:hover {
    --button-bg: var(--color-cool-3);
}
#dial.hvac-status-heating .dial-buttons button:focus-visible, #dial.hvac-status-heating .dial-buttons button:hover {
    --button-bg: var(--color-heat-3);
}